html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    height: 71px;
}

.logo {
    width: 115px;
    height: 55px;
}

.navbar {
    position: fixed !important;
    top:0;
    width: 100%;
}

.navbar-brand {
    margin-left: 100px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.background {
    height: 65%;
    overflow: hidden;
    background: url("./img/bg.jpg") no-repeat fixed center;
    background-size: cover;
}

.background .dark-layer {
    background-color: rgba(0, 0, 0, 0.432);
    /* opacity: 0.4; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dark-layer h1 {
    color: white;
    font-size: 60px;
}

.dark-layer p {
    color: white;
}