html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    height: 70px;
}

.logo {
    width: 115px;
    height: 55px;
}

.navbar {
    position: fixed !important;
    top:0;
    width: 100%;
    z-index: 1;
}

.navbar-brand {
    margin-left: 100px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.content {
    height: calc(100% - 70px);
}

.carousel {
    height: 100%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel-inner .carousel-item {
    height: 100%;
}
  
.carousel-item img {
    height: 100%;
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    /* min-height: 300px; */
}
