html, body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 105px;
    height: 55px;
}

.navbar-brand {
    margin-left: 100px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.contact-bkcse{
    margin-left: 40px;
    margin-right: 40px;
}
@keyframes contactrightmove{
    from{ right: 0px;}
    to{ right: 20px;}
}

@keyframes contactleftmove{
    from{ left: 0px;}
    to{ left: 20px;}
}
.slide {
        animation-name: contactrightmove;
        animation-duration: 5s;
        animation-iteration-count: 1;
        position: absolute;
        width: 100px;
        height: 300px;
        padding: 10px;
}

.slideamin {
    animation-name: contactleftmove;
    animation-duration: 5s;
    animation-iteration-count: 1;
    position: absolute;
    width: 100px;
    height: 300px;
    padding: 10px;
}