html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    height: 70px;
}

.logo {
    width: 115px;
    height: 55px;
}

.navbar-brand {
    margin-left: 100px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}